html, body {
    margin: 0;
    background-color:#5cdb95;
    font-family: Lato, serif;    
}

.features {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    font-weight: bold;    
    margin: 0 1em;;
    padding-top: 0.5em;
    color: #05386b;
}

.button-div {
    display: flex;
    align-items: center;
}

.buttons {
    background-color: #05386b;
    border-radius: 24px;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition-duration: 0.3s;
    text-decoration: none;
}

.buttons:hover {
    transform: translateY(-2px);    
}

#name {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2em;    
}

.tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  #05386b;
} 

.tagline-icons {
    height: 1em;
    width: 1em;
    margin-left: 3px;
}

.pricing-container {
    display: flex;    
    justify-content: center;
    width: 80%;
    margin: 2em auto;
}
.pricing-plan {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pricing-image {
    max-width: 100%;
}

.pricing-type {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #05386b;
}

li {
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #05386b99;
    padding: 0.5em;    
    font-weight: 600;
}

li:last-child {
    border-top: none;
}

.price {
    font-size: 1.5em;
    padding: 1em;
    font-weight: bold;
    color: #05386b;
}
